<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Báo cáo tiền ăn</title>
    <link rel="stylesheet" href="~/css/print.css" asp-append-version="true" />
</head>
<body onload="window.print()">
    @RenderBody()
</body>
</html>
