@using System.Security.Claims;
@using SchoolMeal.WebApp.ViewModels;

@model UserViewModel;

@{
    ViewData["Title"] = "Thông tin";
}

<div class="d-flex flex-column w-100 justify-content-center">
    <div class="d-flex flex-column w-100 overflow-auto px-5 py-3">
        <div class="d-flex flex-column align-items-center mb-3">
            <div class="d-flex align-items-center justify-content-center rounded-pill border text-bg-secondary" style="min-width:80px;min-height:80px;">
                <i class="bi bi-person-fill fs-1"></i>
            </div>
            <span class="fw-bold text-uppercase my-3 fs-5">Thông tin chi tiết</span>
        </div>

        <div class="d-flex flex-column w-100 gap-3">
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-person-vcard-fill"></i></span>
                <div class="form-floating">
                    <input type="text" disabled class="form-control" id="upsername" value="@Model?.Username">
                    <label for="username">Tên tài khoản</label>
                </div>
                <button class="btn btn-secondary input-group-text"><i class="bi bi-clipboard"></i></button>
            </div>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-phone-fill"></i></span>
                <div class="form-floating">
                    <input type="tel" disabled class="form-control" id="date" value="@Model?.PhoneNumber">
                    <label for="telphone">Số điện thoại</label>
                </div>
                <button class="btn btn-secondary input-group-text"><i class="bi bi-clipboard"></i></button>
            </div>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-calendar3"></i></span>
                <div class="form-floating">
                    <input type="text" disabled class="form-control" id="createDate" asp-for="CreatedAt">
                    <label for="createDate">Ngày tạo</label>
                </div>
                <button class="btn btn-secondary input-group-text"><i class="bi bi-clipboard"></i></button>

            </div>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-calendar-x"></i></span>
                <div class="form-floating">
                    <input type="text" disabled class="form-control" id="expiryDate" asp-for="ExpiredAt">
                    <label for="expiryDate">Ngày hết hạn</label>
                </div>
                <button class="btn btn-secondary input-group-text"><i class="bi bi-calendar-plus"></i></button>
            </div>
        </div>

    </div>
</div>
