@using System.Security.Claims;
@{
    ViewData["Title"] = "Trang chính"; 
    ViewData["Description"] = "Chào mừng " + User.Claims.FirstOrDefault(claim => claim.Type == ClaimTypes.Name)!.Value;
}
<div class="d-flex flex-column px-2">
   
</div>
