@using SchoolMeal.WebApp.ViewModels;

@model EditUserViewModel;

<div class="modal fade" id="editUserModal" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form asp-action="UpdateAccount" asp-controller="ManageAccount" method="post">
                <input hidden id="userId" name="Id" asp-for="Id" />
                <div class="modal-header">
                    <h5 class="modal-title">Chỉnh sửa người dùng</h5>
                </div>
                <div class="modal-body d-flex flex-column gap-2">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="Username" asp-for="Username">
                        <label for="username">Tên tài khoản</label>
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input type="tel" class="form-control" id="PhoneNumber" asp-for="PhoneNumber">
                        <label for="PhoneNumber">Số điện thoại</label>
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input type="date" class="form-control" id="ExpiredAt" asp-for="ExpiredAt" value="@Model.ExpiredAt.ToString("yyyy-MM-dd")">
                        <label for="ExpiredAt">Ngày hết hạn</label>
                        <span asp-validation-for="ExpiredAt" class="text-danger"></span>
                    </div>
                    <div class="form-floating w-100">
                        <select class="form-select" id="UserRoles" aria-label="Floating label select" asp-for="Role">
                            <option value="User">Người dùng</option>
                            <option value="Admin">Người quản trị (Admin)</option>
                        </select>
                        <label for="UserRoles">Quyền hạn</label>
                        <span asp-validation-for="Role" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
                    <button type="submit" class="btn btn-success">Cập nhật</button>
                </div>
            </form>
        </div>
    </div>
</div>
<partial name="_ValidationScriptsPartial" />