@using DataAccess.Models;
@using SchoolMeal.WebApp.ViewModels;
@{
    var RolesList = ViewData["RolesList"] as List<RoleModel>;
}

@model EditUserViewModel;

<div class="modal fade" id="editUserModal" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form asp-action="UpdateAccount" asp-controller="ManageAccount" method="post">
                <input hidden id="userId" name="Id" asp-for="Id" />
                <div class="modal-header">
                    <h5 class="modal-title">Chỉnh sửa người dùng</h5>
                </div>
                <div class="modal-body d-flex flex-column gap-2">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="Username" asp-for="Username">
                        <label for="username">Tên tài khoản</label>
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input type="tel" class="form-control" id="PhoneNumber" asp-for="PhoneNumber">
                        <label for="PhoneNumber">Số điện thoại</label>
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input type="date" class="form-control" id="ExpiredAt" asp-for="ExpiredAt" value="@Model.ExpiredAt.ToString("yyyy-MM-dd")">
                        <label for="ExpiredAt">Ngày hết hạn</label>
                        <span asp-validation-for="ExpiredAt" class="text-danger"></span>
                    </div>
                    <div class="form-floating w-100">
                        <button type="button" class="form-select text-start py-0" id="Roles" data-bs-toggle="collapse" data-bs-target="#collapseRoles" aria-expanded="false">Chỉnh sửa quyền hạn</button>
                        <div class="collapse mt-2" id="collapseRoles">
                            <div class="card card-body" style="max-height:150px;overflow-y: auto;">
                                @for (var i = 0; i < RolesList!.Count; i++)
                                {
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" asp-for="@RolesList[i].IsChecked" type="checkbox" role="switch" id="switchCheck{@RolesList[i].ActionName}">
                                        <label class="form-check-label" for="switchCheck{@RolesList[i].ActionName}">@RolesList[i].DisplayString</label>
                                        <input type="hidden" asp-for="@RolesList[i].ActionName">
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
                    <button type="submit" class="btn btn-success">Cập nhật</button>
                </div>
            </form>
        </div>
    </div>
</div>
<partial name="_ValidationScriptsPartial" />