<nav class="navbar navbar-expand-md bg-white rounded py-1">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex justify-content-center align-items-center m-2">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="/resources/logo1.png" alt="Logo" width="95" />
                </a>
            </div>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-3 align-items-center fw-bold" style="font-size:14px;">
                <li class="nav-item dropdown">
                    <a class="nav-link d-flex align-items-center gap-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-building-fill"></i>
                        Hệ thống
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Hệ thống 1</a></li>
                        <li><a class="dropdown-item" href="#">Hệ thống 2</a></li>
                    </ul>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link d-flex align-items-center gap-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-menu-button-fill"></i>
                        Danh mục
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Danh mục 1</a></li>
                        <li><a class="dropdown-item" href="#">Danh mục 2</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link d-flex align-items-center gap-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-table"></i>
                        Quản lý
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Quản lý 1</a></li>
                        <li><a class="dropdown-item" href="#">Quản lý 2</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link d-flex align-items-center gap-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-graph-up"></i>
                        Báo cáo
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-action="TienAn" asp-controller="NurturingManagementReport">Tiền ăn</a></li>
                        <li><a class="dropdown-item" href="#">Báo cáo 2</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="d-flex gap-1 align-items-center">
            <div class="input-group">
                <button type="button" class="form-control text-start" style="width:200px;" data-bs-toggle="modal" data-bs-target="#searchModal">Tìm kiếm</button>
                <span class="input-group-text"><i class="bi bi-search"></i></span>
            </div>
            <partial name="_NotificationDropDownPartial" />
            <hr style="width:1px;height:20px;" />
            <partial name="_UserDropDownPartial" />
        </div>
    </div>
</nav>
