@using System.Security.Claims;
@using SchoolMeal.WebApp.Extensions;
@using SchoolMeal.WebApp.ViewModels;
@{
    var User = Context.Session.GetObject<UserViewModel>("User");
}

<div class="dropdown">
    <div class="btn border-0 d-flex align-items-center justify-content-center dropdown-toggle gap-2" data-bs-toggle="dropdown" aria-expanded="false">
        <div class="d-flex rounded justify-content-center align-items-center text-light bg-secondary" style="min-width:40px; height:40px;">
            <i class="bi bi-person-fill fs-5"></i>
        </div>
        <span class="fw-bold">@User?.Username</span>
    </div>
    <div class="dropdown-menu dropdown-menu-end me-2 user-select-none overflow-auto" style="width:250px;max-height:500px;">
        <a class="d-flex align-items-center w-100 px-2 text-black dropdown-item gap-2" style="cursor:pointer;" asp-action="ThongTin" asp-controller="Account">
            <i class="bi bi-person-vcard-fill"></i>
            <span>Thông tin tài khoản</span>
        </a>
        <a class="d-flex align-items-center w-100 px-2 text-black dropdown-item gap-2" style="cursor:pointer;" asp-action="DoiMatKhau" asp-controller="Account">
            <i class="bi bi-key-fill fs-6"></i>
            <span>Đổi mật khẩu</span>
        </a>
        <hr class="dropdown-divider opacity-25" />
        <a class="d-flex align-items-center w-100 px-2 text-black dropdown-item gap-2" style="cursor:pointer;" asp-action="Logout" asp-controller="Account">
            <i class="bi bi-box-arrow-right fs-6"></i>
            <span>Đăng xuất</span>
        </a>
    </div>
</div>