@using System.Security.Claims;

@model DataAccess.Models.AccountModel;

@{
    ViewData["Title"] = "Đổi mật khẩu";
    ViewData["Description"] = "Đổi mật khẩu cho tài khoản " + User.Claims.FirstOrDefault(claim => claim.Type == ClaimTypes.Name)!.Value;
}
<div class="d-flex flex-column w-100 align-items-center justify-content-center">
    <div class="d-flex flex-column align-items-center me-5 mb-3">
        <div class="d-flex align-items-center justify-content-center rounded-pill border" style="width:80px;height:80px;">
            <i class="bi bi-key-fill fs-1"></i>
        </div>
        <h4 class="my-3">Thay đổi mật khẩu</h4>
    </div>
    <form class="d-flex flex-column gap-2" style="width:500px;" method="post" asp-action="ChangePassword" asp-controller="Account">
        <div class="form-floating">
            <input type="password" class="form-control" id="oldPassword" placeholder="Old Password" asp-for="Password">
            <label for="oldPassword">Mật khẩu cũ</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="newPassword" placeholder="New Password" asp-for="Password">
            <label for="newPassword">Mật khẩu mới</label>
        </div>
        <div class="form-floating w-100">
            <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm New Password">
            <label for="confirmPassword">Nhập lại mật khẩu mới</label>
        </div>
        <button type="submit" class="btn btn-success mt-3">Đổi mật khẩu</button>
    </form>
</div>
